<nav class="navbar navbar-expand-lg custom-navbar">
  <a class="navbar-brand" href="/" style="margin-left: 5px;">Crud Node.js</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link <%= view === 'index' ? 'active' : '' %>" href="/">Página Inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= view.startsWith('aluno') ? 'active' : '' %>" href="/aluno">Aluno</a> <!-- isso n sabiamos, anotar -->
      </li>
      <li class="nav-item">
        <a class="nav-link <%= view.startsWith('categorias') ? 'active' : '' %>" href="/categorias">Categorias</a> <!-- isso n sabiamos, anotar -->
      </li>
      
     
    </ul>
  </div>
</nav>
