<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Crud Márcio</title>
  <link rel="stylesheet" href="/style.css">
  <!-- Google Fonts linkage -->
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">


</head>
<body class="no-scroll">
    <h1 class="titulo">Crud Márcio, bem vindo!</h1>
    <p class="paragrafo1">Feito com base em arquivos enviados no Teams</p>
    <p class="paragrafo1">Mas sim, usamos IA para correção de código em ultimo dos casos, juramos!</p>
    <p class="paragrafo1">Desenvolvido por: <strong>Lincon, Millene e Julia M.</strong></p>
    <div style="text-align: center;">
      <h3 class="titulo2"> Explore na navbar!</h3>
      <img src="/images/yay-cat.gif" alt="YAY!" class="imgyaycat">
    </div>
</body>
</html>
