<h1 class="titulo">Crud Márcio, bem vindo!</h1>
<p class="paragrafo1">Feito com base em arquivos enviados no Teams</p>
<p class="paragrafo1">Mas sim, usamos IA para correção de código em ultimo dos casos, juramos!</p>
<p class="paragrafo1">Desenvolvido por: <strong>Lincon, Millene e Julia M.</strong></p>
<div style="text-align: center;">
  <h3 class="titulo2">Explore na navbar!</h3>
  <img src="/images/yay-cat.gif" alt="YAY!" class="imgyaycat">
</div>

<div style="width: 100%; display: flex; justify-content: center;">
  <p style="max-width: 600px; text-align: center;" class="paragrafo1">
    Quisemos fazer essa atividade quase simulando uma criação de um site pra nós, o que foi uma experiência que realmente se comparou bastante, por mais que achemos que seja 100% mais difícil, visto que já tivemos dificuldade projetando um CRUD, então imagina um projeto real, mas valeu pelo menos a tentativa.
  </p>
</div>
