<h1>Adicionar Aluno</h1>
<form action="/alunos/add" method="POST">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" required>
  </div>

  <div class="form-group">
    <label for="horario">Horário</label>
    <select class="form-control" id="horario" name="horario" required>
      <option value="Manhã">Manhã</option>
      <option value="Tarde">Tarde</option>
      <option value="Noite">Noite</option>
    </select>
  </div>

  <div class="form-group">
    <label for="matricula">Matrícula</label>
    <input type="text" class="form-control" id="matricula" name="matricula" required>
  </div>

  <div class="form-group">
    <label for="itinerario">Itinerário</label>
    <select class="form-control" id="itinerario" name="itinerario" required>
      <option value="Humanas">Humanas</option>
      <option value="Exatas">Exatas</option>
      <option value="Biológicas">Biológicas</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>
