.titulo {
  color: #827cd2;
  font-size: 92px;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f2f2;
  margin: 0;
  padding: 0;
}
  .paragrafo1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
  .custom-footer {
    background-color: #e5c7ff;
    color: #ffffff;
    padding: 1.5rem 0;
    margin-top: auto;
  }
  
  
 
  .custom-navbar {
    background-color: #e5c7ff; /* Cor nav */
  }
  
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: #ffffff !important; /* Cor texto */
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.5rem;
  }
  
  .custom-navbar .nav-link:hover {
    color: #827cd2 !important; 
  }
  .imgyaycat {
    display: block;
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 0 auto;
  }
  .no-scroll {
    overflow: hidden;
  }
  
  .titulo2 {
    color: #827cd2;
    font-size: 2em;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 50px;
  }

  .no-scroll {
    overflow: hidden;
  }
  
  